.project-card {
    width: 250px;
    height: 340px;
    background-color: var(--div-color);
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    cursor: context-menu;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card p {
    margin: 0;
    font-size: small;
}

.project-card h4 {
    padding-top: 15px;
    font-size: 15px;
    margin: 0;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--card-hover);
}

.skills h4 {
    display: flex;
    padding-left: 10px;
}

.skills ul {
    margin-top: 8px;
    margin-bottom: 8px;
}

.skills li {
    text-align: left;
}