.toggle-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-label {
    cursor: pointer;
    font-size: 1.5rem;
    color: #555;
}

.icon-label .active {
    color: gold;
    /* or your highlight color */
}

.hidden-toggle {
    display: none;
}